extends layout

block content
 h1
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='/') Accueil
     
    #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/users/services') Our Services
      li.nav-item
        a.nav-link(href='/users/contact') Contact us